/* .workmorecontainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
} */
.aboutImage {
  background-image: url(../../assets/images/help.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  /* object-fit: cover; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutImage h1 {
  font-size: 100px;
  line-height: 2;
  letter-spacing: 1.5px;
}
.workmorecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 20px;
  /* border: 1px solid red; */
  margin: 30px auto;
}
.worktop {
  display: flex;
  margin-top: 10px;
  /* width: 90%; */
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.worktop .work {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 45px;
  line-height: 1.5;
  font-weight: bold;
  align-items: center;
}
.worktop .workWords {
  /* border: 1px solid green; */
  width: 50%;
  line-height: 2;
  font-size: 17px;
  color: gray;
}
.moreicons {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  gap: 20px;
  width: 90%;
}
.moreicons .icons {
  display: flex;
  align-items: center;
  width: 20%;
  background-color: aliceblue;
  /* justify-content: space-around; */
  flex-direction: column;
  border-radius: 10px;
  height: 23vh;
  padding: 15px 5px 10px 5px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 1s ease-in-out;
}
.moreicons .icons:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.moreicons .icons .pic {
  color: #a67d17;
  font-size: 55px;
}
.moreicons .icons .poverty {
  font-size: 25px;
  color: gray;
}
.mainGoal {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 90%;
  margin-top: 10rem;
}
.ourgoal {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #a67d17;
  height: 65vh;
  margin-left: 7rem;
  border-radius: 10px;
  margin-top: -4rem;
  margin-right: -5rem;

  z-index: 2;
}
.ouline {
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  height: 59vh;
  border: 4px solid gray;
}
.ouline h4 {
  font-size: 27px;
  color: white;
  line-height: 1.5;
  padding-bottom: 15px;
}
.ouline p {
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 1.2px;
  color: rgb(22, 23, 24);
}

.mainImage {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  border-radius: 20px;
  background-image: url(../../assets/images/bosa-charity-img3.jpg);
}
.charity {
  margin-top: 30px;
  /* width: 90%; */
}
.wereFunded {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  background-image: url(../../assets/images/migration.jpg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 40px;
}
.wereFunded span {
  color: gray;
  font-size: 25px;
}
.wereFunded h4 {
  font-size: 40px;
  font-weight: 300;
}
.getInvolvedabout {
  padding: 8px 30px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
  background-color: #a67d17;
  color: white;
}
.getInvolvedabout:hover {
  background-color: white;
  color: #a67d17;
  cursor: pointer;
}
